.p1{
	background-color: blue;
}

.p2{
	background-color: white;
}

.p3{
	background-color: red;
}

.MairieCalais{
	width: 50%;
}

.form{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	padding: 5%;
	border : solid grey 1px;
}
